<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO | USUARIOS</title>
    <div th:replace="fragments/css_basics :: assets"></div> 
     
</head>
<body  class="fixed-nav md-skin">

<div id="wrapper">
    <!-- SIDEBAR -->
    <div th:replace="fragments/sidebar_admin :: sidebar"></div>
    <!-- END SIDEBAR-->
    <div id="page-wrapper" class="gray-bg">
        <!-- NAV -->
        <div th:replace="fragments/nav_admin :: nav"></div>
        <!-- END NAV-->        
        <div class="wrapper wrapper-content fadeInLeft">
                
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Agregar Categoria</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <form th:method="PUT" th:action="@{/admin/category/__${category.id}__}"  action="#" th:object="${category}" name="frmAddCategory" class="form-horizontal" >
                                        <input type="hidden"  name="id" th:field="${category.id}" th:value="${category.id}" />                                         
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">Nombre</label>
                                                    <div class="col-lg-10">
                                                        <input name="name" required autofocus th:field="${category.name}" th:value="${category.name}"  type="text" placeholder="Nombre" class="form-control">                                                 
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">Descripcion</label>
                                                    <div class="col-lg-10">
                                                        <input name="description" required th:field="${category.description}" th:value="${category.description}"  type="text" placeholder="Descripcion" class="form-control">                                                 
                                                    </div>
                                                </div>                                                   
                                            </div>
                                            <div class="col-lg-6" >                                                    
                                                
                                            </div>
                                        </div>
                                        <hr>            
                                        <div class="form-group">
                                            <div class="col-lg-12 text-right">
                                                <input class="btn btn-primary" type="submit" value="Grabar Categoria">
                                                <a th:href="@{~/admin/category}" href="/" class="btn btn-warning" >Cancelar</a>
                                            </div>
                                        </div>                                        
                                    </form>
                                </div>
                            </div>
                        
                    </div>
                    </div>
                
                    <div class="footer fixed">
                        <div>
                            <strong>Copyright</strong> CompuFY Solutions &copy; 2017
                        </div>
                    </div>

        </div>
    </div>
</div>
    <div th:replace="fragments/js_basics :: assets"></div>	
    
   <!-- Jasny -->
    <script src="../../js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <script src="../../js/holder.js"></script>
    


    <script>
    </script>
</body>
</html>
