<div th:fragment="footer" th:remove="tag">
	<!--info start-->
	<section class="infoSec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="inforCont">
						<div class="row">
							<div class="col-sm-4 noPaddingRight">
								<div class="singleInfo">
									<i class="flaticon-money"></i>
									<h3>GARANTÍA DE DEVOLUCIÓN !</h3>
									<p>100% Devolución del Dinero - 30 Días</p>
								</div>
							</div>
							<div class="col-sm-4 noPadding">
								<div class="singleInfo">
									<i class="flaticon-technology-4"></i>
									<h3>24/7 SERVICIO AL CLIENTE</h3>
									<p>Servicio de Soporte 24/7</p>
								</div>
							</div>
							<div class="col-sm-4 noPaddingLeft">
								<div class="singleInfo last">
									<i class="flaticon-transport"></i>
									<h3>ENVIÓ GRATUITO</h3>
									<p>Envío gratuito alrededor del Perú</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--info End-->

	<!--Footer start-->
    <footer class="footer1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="widget footInfo">
                        <div class="flogo">
                            <a class="flogo1" href="#">COMPUFY</a>
                        </div>
                        <div class="footIntxt">
                            <p>Compufy es un eCommerce Web con el modulo de administrador incluido.</p>
                        </div>
                        <div class="foadds">
                            <p><i class="fa fa-phone"></i>Telephone: 01 456 23 23</p>
                            <p><i class="fa fa-envelope-o"></i>Email: pedrolps@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pdl32 col-sm-6">
                    <div class="widget">
                        <h3 class="widgetTitle">Mi cuenta</h3>
                        <div class="footerlink">
                            <ul>
                                <li><a href="#">Mi Perfil</a></li>
                                <li><a href="#">Carrito de Compras</a></li>
                                <li><a href="#">Mapa del Sitio</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="copypera">Copyright &copy; 2017 por <a href="#">Pedro Lucky</a>. Todos los derechos reservados.</p>
                </div>
                <div class="col-lg-6 col-sm-6 text-center">
                    <div class="payment">
                        <img src="../img/icon/payment.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer end-->              
    <a href="#" id="backToTop"><i class="fa fa-angle-up"></i></a>
</div>