<div th:fragment="assets" th:remove="tag">

	<!-- Include All JS -->
	<script type="text/javascript" th:src="@{/js/client/jquery.js}"
		src="js/client/jquery.js"></script>
	<script type="text/javascript" th:src="@{/js/client/jquery-ui.js}"
		src="js/client/jquery-ui.js"></script>
	<script type="text/javascript" th:src="@{/js/client/bootstrap.min.js}"
		src="js/client/bootstrap.min.js"></script>
	<script type="text/javascript"
		th:src="@{/js/client/jquery.themepunch.revolution.min.js}"
		src="js/client/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript"
		th:src="@{/js/client/jquery.themepunch.tools.min.js}"
		src="js/client/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" th:src="@{/js/client/gmaps.js}"
		src="js/client/gmaps.js"></script>
	<script type="text/javascript" th:src="@{/js/client/jquery.appear.js}"
		src="js/client/jquery.appear.js"></script>
	<script type="text/javascript" th:src="@{/js/client/wow.min.js}"
		src="js/client/wow.min.js"></script>
	<script type="text/javascript" th:src="@{/js/client/mixer.js}"
		src="js/client/mixer.js"></script>
	<script type="text/javascript"
		th:src="@{/js/client/jquery.mCustomScrollbar.js}"
		src="js/client/jquery.mCustomScrollbar.js"></script>
	<script type="text/javascript"
		th:src="@{/js/client/owl.carousel.min.js}"
		src="js/client/owl.carousel.min.js"></script>
	<script type="text/javascript" th:src="@{/js/client/TimeCircles.js}"
		src="js/client/TimeCircles.js"></script>
	<script type="text/javascript"
		th:src="@{/js/client/jquery.magnific-popup.js}"
		src="js/client/jquery.magnific-popup.js"></script>
	<script type="text/javascript" th:src="@{/js/client/slick.min.js}"
		src="js/client/slick.min.js"></script>
	<script type="text/javascript" th:src="@{/js/client/select2.min.js}"
		src="js/client/select2.min.js"></script>
	<script type="text/javascript" th:src="@{/js/client/theme.js}"
		src="js/client/theme.js"></script>

</div>