@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Flaticon.woff") format("woff"),
        url("../fonts/Flaticon.ttf") format("truetype"),
        url("../fonts/Flaticon.svg#Flaticon") format("svg");
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
}
.flaticon-money:before { content: "\f100"; }
.flaticon-music:before { content: "\f101"; }
.flaticon-music-1:before { content: "\f102"; }
.flaticon-shapes:before { content: "\f103"; }
.flaticon-shapes-1:before { content: "\f104"; }
.flaticon-technology:before { content: "\f105"; }
.flaticon-technology-1:before { content: "\f106"; }
.flaticon-technology-2:before { content: "\f107"; }
.flaticon-technology-3:before { content: "\f108"; }
.flaticon-technology-4:before { content: "\f109"; }
.flaticon-transport:before { content: "\f10a"; }