<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compufy | Login</title>
    <div th:replace="fragments/css_basics :: assets"></div>
    <!-- Favicon Icon -->
	<link rel="icon" type="image/png" href="img/favicon.png" />
	<!-- Favicon Icon -->
</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">CF+</h1>
            </div>
            <h3>Bienvenido a CompuFy+</h3>
            <form class="m-t"  th:action="@{/logincheck}" method="POST">
            	<input type="hidden" name="${_csrf.parameterNmae}" value="${_csrf.token}" />
            	<div class="alert alert-danger" style="padding:7px 15px;" role="alert" th:if="${param.error}">
            		<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
		            Nombre de usuario o contraseña incorrecta
		        </div>
		        <div class="alert alert-info" style="padding:7px 15px;" role="alert" th:if="${param.logout}">
		        	<i class="fa fa-info-circle" aria-hidden="true"></i>
		            Sesión Cerrada
		        </div>
                <div class="form-group">
                    <input type="text" name="email" id="email" class="form-control" autofocus="" placeholder="Usuario" required="" />
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required="" />
                </div>
                
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            </form>
			<br/><br/>
            <p class="text-muted text-center" style="margin-bottom:5px;"><small>Ya tienes una cuenta?</small></p>
            <form th:action="@{/registro}" method="GET">
                <button class="btn btn-sm btn-warning btn-block" type="Submit">Crear una cuenta</button>
            </form> 
                
            
            
        </div>
    </div>
    <!-- Mainly scripts -->

</body>
</html>
